body {
    text-align: center;
    font-family: monospace;
    background-color: bisque;
    margin-left: 20%;
    margin-right: 20%;
}

h1 {
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(243, 208, 165)
}

ul, ol, p{
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
    font-size: 18px;
}

h4 {
    text-decoration: underline;
    font-family: Verdana, sans-serif;
    background-color: rgb(243, 208, 165);
    font-size: 24px;
}

.indexlist {
    font-size: 30px;
    font-family: Helvetica;
    font-weight: bold;
    color: rgb(187, 103, 0);
}